$sidebar-width: 350px;
$sidebar-padding-top: 30px;

.sidebar {
  width: $sidebar-width;
  min-width: $sidebar-width - 40;
  min-height: 100vh;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: $sidebar-padding-top;
}
