.bg-xmas{
  background-image: url('/src/assets/images/snowflake.png'), linear-gradient(to bottom, rgb(25, 60, 60),rgb(30, 70, 60),rgb(46, 98, 63) 100%);
  background-repeat: repeat, no-repeat;
  background-position: center;
  background-size: 20vw 20vw, auto;
}
.xmas-light{
  min-height: 100px;
  min-width: 100vw;
  background-image: url('/src/assets/images/xmas_lights.png');
  background-position: center;
  position: absolute;
  bottom: 0px;
}
.xmas-tree{
  $size: 20vw;
  min-height: $size;
  min-width: $size;
  background-image: url('/src/assets/images/xmas_tree.png');
  background-size: $size $size;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0px;
  // right: 0px;
}
.xmas-wrench{
  $size: 10vw;
  min-height: $size;
  min-width: $size;
  background-image: url('/src/assets/images/xmas_wrench.png');
  background-size: $size $size;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
}
.xmas-santacart{
  $size: 20vw;
  min-height: $size;
  min-width: $size;
  background-image: url('/src/assets/images/xmas_santacart.png');
  background-size: $size $size;
  background-repeat: no-repeat;
  display: inline-block;
}
